@import "compass";
@import "partials/variables";
@import "partials/mixins";

*{
    margin: 0;
    padding: 0;
}

#container{
  width: $site-width;
  margin:{
    left: auto;
    right: auto;
    top: 15px;
    bottom: 15px;
  }
}

h1{
  @include setFont(25px);
}
h2{
  @include setFont(16px);
  padding: 10px;
}

header{
  background-color: $yellow;
  display: block;
  padding: $header-padding;
  width: $site-width - 2*$header-padding;
  height: $header-height - 2*$header-padding;
  border: solid $black 1px;
}
nav{
  background-color: $cloudy;
  display: block;
  width: $site-width;
  font-weight: bold;
  height: 30px;
    border: solid $black 1px;
  .option{
    width: $nav-option-width - 2*$nav-option-padding;
    padding: $nav-option-padding;
    height: $nav-option-height - 2*$nav-option-padding;
    border-right: solid $black 2px;
    float: left;
    text-align: center;
    vertical-align: middle;
    &:last-child{
      border: none;
      }
  }
}

aside {
    border: solid $black 1px;
  font-weight: bold;
  background-color: $cloudy;
  display: block;
  width: $aside-width;
  float: left;
  margin-top: 10px;
  min-height: $aside-height;
  .option{
    width: $aside-option-width - 2*$aside-option-padding;
    padding: $aside-option-padding;
    border-bottom: solid black 5px;
    &:last-child
    {
      border: none;
    }
  }
}

section {
  display: block;
  margin-left: $section-margin-left;
  padding: $section-padding;
  width: $section-width - 2*$section-padding - $section-margin-left;
  min-height: $section-height;
  float: left;
}
article{
  display: block;
  background-color: $marigold-yellow;
  margin: $article-margin;
  paddig: $article-padding;
  width: $article-width - 2* ($article-margin + $article-padding);
  color: black;
  border: solid black 1px;
  p{
    padding: $article-p-padding;
  }
  .comment{
    display: block;
    text-align: right;
    margin:{
      right: 0;
      bottom: 5px;
    }
    padding-right: 10px;
  }
}
.reset_float{
  clear: both;
}
.line{
  margin:{
    top: $line-margin;
    bottom: $line-margin;
  }
  width: $site-width;
  border-top: solid $cloudy 4px;
}
footer{
  width: $footer-width;
  height: $footer-height;
  text-align: center;
  vertical-align: bottom;
}
#center
{
  width: $site-width;
}