$site-width: 960px;

$header-padding: 15px;
$header-height: 80px;

$nav-option-width: 100px;
$nav-option-padding: 5px;
$nav-option-height: 30px;

$aside-width: 200px;
$aside-height: 350px;

$aside-option-width: 200px;
$aside-option-padding: 10px;

$article-margin: 10px;
$article-padding: 10px;
$article-width: 760px;

$article-p-padding: 10px;

$section-margin-left: 10px;
$section-padding: 5px;
$section-width: 740px;
$section-height: 320px;

$line-margin: 7px;

$footer-width: 960px;
$footer-height: 100px;

$red: #FF0000;
$white: #FFFFFF;
$gray: #808080;
$pink: #FFCBDB;
$brown: #964B00;
$orange: #FF7F00;
$yellow: #FFFF00;
$green: #00FF00;
$cyan: #00FFFF;
$blue: #0000FF;
$violet: #7F00FF;
$black: #000000;
$cloudy: #B1AFAA;
$duke-blue: #001A57;
$blue-gray: #6699CC;
$main-green: #00647D;
$alice-blue: #F0F8FF;
$ash-gray: #B2BEB5;
$marigold-yellow: #F9DA74;